<!--
  Generated template for the DoSurveyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectSurvey}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label stacked>Survey</ion-label>
        <ion-select [(ngModel)]="selSurvey" [compareWith]="compareFn" #C (ionChange)="onSelect(C.value)"> 
          <ion-option *ngFor="let item of surveys" [value]="item">{{item.doc.description}} </ion-option>
          <!-- 
          <ion-option>Bacon</ion-option>
          <ion-option>Black Olives</ion-option>
          <ion-option>Extra Cheese</ion-option>
          <ion-option>Mushrooms</ion-option>
          <ion-option>Pepperoni</ion-option>
          <ion-option>Sausage</ion-option> 
          -->
        </ion-select>
      </ion-item>
      <br/>
      <ion-list no-lines>
        <div *ngFor="let sq of surveyQs" text-wrap padding-bottom>
          <div class="question">
            <div margin>
                {{sq.text}}
                <div padding-left>
                    <ion-list radio-group #R (ionChange)="onRadioListChange(R)" [(ngModel)]="sq.suraId">
                      <ion-item *ngFor="let sa of sq.sans">
                        <ion-label>{{sa.textResponse}}</ion-label>
                        <ion-radio [value]="sa._id" (ionSelect)="onAnswerSelect(sa.surqId, sa._id)"></ion-radio>
                      </ion-item>
                    </ion-list>
                </div>    
            </div>
          </div>
        </div>
      </ion-list>

</ion-content>
